.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: lightyellow;
  border-radius: 1.5rem;
  border: 1px solid #000;
  font-size: 2.4rem;
  padding: 2.4rem 1.2rem;

  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  gap: 3.2rem;
  margin-right: 3.2rem;
}

.total-form {
  background-color: khaki;
  padding: 2.4rem;
  border: 0.2rem solid red;
  border-radius: 1.2rem;

  position: relative;
  overflow: hidden;
}

.total-control {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.total-control input {
  border-radius: 0.6rem;
}

.clear {
  position: absolute;
  top: 0;
  right: 0;
}

.clear-btn {
  display: inline-block;
  background-color: brown;
  color: aliceblue;
  font-size: inherit;
  padding: 1.6rem 3.2rem;
  border-bottom-left-radius: 1.6rem;

  transition: all 0.3s;
}

.clear-btn:active {
  transform: scale(0.98);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}
